Binaries
DerivedDataCache
Intermediate
Saved
Build
Packaged
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.sln*
*.suo
*.xcodeproj
*.xcworkspace
*.idea
*.blend1
Plugins/Developer/RiderLink
Plugins/
Content/StarterContent

Content/Maps/ProtoWorld_BuiltData.uasset
